*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo{
    width: 300px;
    height: 100px;
    padding-left: 600px;
}

nav{
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}

.barra {
    margin-left: 25px;
    margin-right: 25px;
}

.front{
    width: 300px;
    height: 300px;
}

.dogs{
    width: 300px;
    height: 300px;
}
.intro{
    background-color: rgb(213, 208, 200);
    display: flex;
    gap: 40px;
    margin-top: 30px;
    padding: 30px;
    justify-content: center;
}

h2{
    margin-top: 120px;
}